.form{
    margin: 20px auto;
    width: 60%;
}

.img-container{
    margin: auto;
    width: 60%;
    text-align: center;
}

.button-box{
    text-align: center;
    margin: 10px;
}

.user-img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

#camera-icon{
    text-align: center;
}

.icon-box{
    margin: auto;
    text-align: center;
} 